In [27]:
import pandas as pd

In [28]:
yelp=pd.read_csv('Yelp/ETL_YELP.csv')
estados=pd.read_csv('Yelp/Estados.csv',delimiter=';')

In [29]:
estados

                    NombreEstado State
0                        Alabama    AL
1                         Alaska    AK
2                        Arizona    AZ
3                       Arkansas    AR
4                     California    CA
5             Carolina del Norte    NC
6               Carolina del Sur    SC
7                       Colorado    CO
8                    Connecticut    CT
9               Dakota del Norte    ND
10                Dakota del Sur    SD
11                      Delaware    DE
12          Distrito de Columbia    DC
13                       Florida    FL
14    Fuerzas Armadas de América    AA
15     Fuerzas Armadas de Europa    AE
16  Fuerzas Armadas del Pacífico    AP
17                       Georgia    GA
18                         Hawai    HI
19                         Idaho    ID
20                      Illinois    IL
21                       Indiana    IN
22                          Iowa    IA
23                        Kansas    KS
24                      Kentucky    KY
25                      Luisiana    LA
26                         Maine    ME
27                      Maryland    MD
28                 Massachusetts    MA
29                      Michigan    MI
30                     Minnesota    MN
31                   Mississippi    MS
32                      Missouri    MO
33                       Montana    MT
34                      Nebraska    NE
35                        Nevada    NV
36               Nueva Hampshire    NH
37                  Nueva Jersey    NJ
38                    Nueva York    NY
39                  Nuevo México    NM
40                          Ohio    OH
41                      Oklahoma    OK
42                        Oregón    OR
43                   Pensilvania    PA
44                  Rhode Island    RI
45                     Tennessee    TN
46                         Texas    TX
47                          Utah    UT
48                       Vermont    VT
49                      Virginia    VA
50           Virginia Occidental    WV
51                    Washington    WA
52                     Wisconsin    WI
53                       Wyoming    WY

In [30]:
# creo la columna 'sentiment_analysis' aplicando análisis de sentimiento con NLP
# con la siguiente escala: debe tomar el valor '0' si es malo, '1' si es neutral y '2' si es positivo. 
# Esta nueva columna debe reemplazar la de user_reviews.review para facilitar el trabajo de los modelos 
# de machine learning y el análisis de datos. 
# De no ser posible este análisis por estar ausente la reseña escrita, debe tomar el valor de 1.


from textblob import TextBlob


# Función para realizar el análisis de sentimiento y mapear a la escala deseada
def analizo_sentimiento(text):
    if not isinstance(text, str):
        text = str(text)  # Convierte la entrada a una cadena de texto

    if not text:
        return 1  # Neutral si no hay reseña
    analysis = TextBlob(text)
    sentiment_score = analysis.sentiment.polarity

    if sentiment_score < 0:
        return 0  # Malo si el sentimiento es negativo
    elif sentiment_score > 0:
        return 2  # Positivo si el sentimiento es positivo
    else:
        return 1  # Neutral si el sentimiento es neutral

# Aplicar el análisis de sentimiento y crear la nueva columna
yelp['sentimiento'] = yelp['Text'].apply(analizo_sentimiento)

# Imprimir el DataFrame resultante
yelp

,Business_id,Name,Categories,Stars,Text,Useful,Funny,Cool,Date,User_id,City,State,Latitude,Longitude,Address,sentimiento
0,yS0TsUzKBQlHQCZZeBrxww,Tortas El Guero,"Mexican, Sandwiches, Restaurants",5.0,Hands down best Mexican in Indy! This place al...,0,0,0,2019-03-21,4K_WOyp5edBa9-JtMjxiwQ,Indianapolis,IN,39.824485,-86.270933,3818 N Highschool Rd,2
1,yS0TsUzKBQlHQCZZeBrxww,Tortas El Guero,"Mexican, Sandwiches, Restaurants",5.0,After reading all the reviews & hearing great ...,1,0,1,2019-04-20,opsegPYOBbMrULOm7QpkJw,Indianapolis,IN,39.824485,-86.270933,3818 N Highschool Rd,2
2,yS0TsUzKBQlHQCZZeBrxww,Tortas El Guero,"Mexican, Sandwiches, Restaurants",4.0,"First time here, had decent reviews so I wante...",2,0,0,2019-02-08,da1by_dHiaH7WziqVjCnAQ,Indianapolis,IN,39.824485,-86.270933,3818 N Highschool Rd,2
3,yS0TsUzKBQlHQCZZeBrxww,Tortas El Guero,"Mexican, Sandwiches, Restaurants",4.0,Service was fast! Got the cabeza taco and it w...,1,0,1,2019-07-02,3YdsWEXfse4AymDuTDoQpQ,Indianapolis,IN,39.824485,-86.270933,3818 N Highschool Rd,2
4,yS0TsUzKBQlHQCZZeBrxww,Tortas El Guero,"Mexican, Sandwiches, Restaurants",5.0,"Man, was I blown away!\n\nWas looking for a de...",2,0,0,2019-04-05,4ynHzlHrlJmK3zBhi9FL6A,Indianapolis,IN,39.824485,-86.270933,3818 N Highschool Rd,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142517,Q_kP5O8EfknEiZUeMR4Gow,Carniceria Dos Amigos,"Food, Grocery, Specialty Food, Meat Shops, Mex...",5.0,Just happened to be in the area and checked ou...,0,0,0,2021-04-06,9ZA6BuMKsqfkpODcfJndww,Reno,NV,39.493354,-119.787114,677 E Moana Ln,2
142518,ICJE_-SCNJAHDtUpK1O0nw,Rasta Taco Catering,"Caterers, Restaurants, Mexican, Event Planning...",5.0,Absolutely wonderful way to spice up any event...,0,0,0,2019-10-17,BuEl4RnS6VxwU8I2FzX1bg,Carpinteria,CA,34.419934,-119.561382,"3375 Foothill Rd, Ste 6333",2
142519,rgcbGLaBL3DPQLV-JFR2ww,Taqueria El Pollito,"Food Stands, Food, Food Trucks, Restaurants, M...",1.0,So this place has the best street tacos I've e...,1,0,0,2021-08-04,VQYIXe6izm67WSlaV8wWmA,Nashville,TN,36.121217,-86.775505,800 Kirkwood Ave,2
142520,OQE4Zk-Cx3fpuCOd2VLMrA,La Ceiba,"Latin American, Mexican, Restaurants",4.0,I wanted to show this place some love since th...,1,0,2,2022-01-12,fiGSeA6Cew0IfPy0w2IZMg,Indianapolis,IN,39.780297,-86.250163,5250 W 10th St,2
142521,Zz-AvfeVUi3Z9KYHsRVxng,Taqueria Nueva Vida,"Restaurants, Food Stands, Mexican",5.0,To update my review since I ate my carnitas bu...,2,0,2,2021-09-26,0As3OA9QLWbT_ZYeiGvvmw,Reno,NV,39.597502,-119.839146,N Virginia St & Golden Valley Rd,2

In [31]:
# Convertir la columna a tipo entero
yelp['Stars'] = yelp['Stars'].astype(int)

In [32]:
yelp['sentimiento'].value_counts()

2    119183
0     22051
1      1288
Name: sentimiento, dtype: int64

In [33]:
yelp[['Stars','sentimiento']].head(29)

    Stars  sentimiento
0       5            2
1       5            2
2       4            2
3       4            2
4       5            2
5       5            2
6       5            2
7       4            2
8       5            2
9       4            2
10      5            2
11      5            2
12      5            2
13      5            2
14      5            2
15      2            2
16      4            2
17      1            0
18      4            2
19      5            2
20      2            2
21      5            2
22      1            0
23      5            2
24      5            0
25      3            2
26      4            2
27      5            2
28      5            2

In [34]:
yelp['Business_id'].value_counts()

yPSejq3_erxo9zdVYTBnZA    863
nYPzsOjvida-ne7swSPHpA    617
9PZxjhTIU7OgPIzuGi89Ew    545
yeHLiKNp0hyR-ig4M6us-w    544
4szMVHmGXodrVGw4Zhev9g    530
                         ...
PDX-urhRejDu_-uq6US6xg      1
E0bcgGtrqne4MS7wt99SVA      1
2p5TB4Jd4Pas1oAvfoAzkw      1
7ImnWM5f3pnFoi49Cp0xKQ      1
Zz-AvfeVUi3Z9KYHsRVxng      1
Name: Business_id, Length: 3797, dtype: int64

In [35]:
yelp['User_id'].value_counts()

leMOR7VSm5z-0r60iJ90EA    63
vFd8aBLg1kFcd0kCkoi-xw    62
zYFGMy1_thjMnvQLX6JNBw    47
EnFRwa9xPq9QaE4jBjFhlw    44
wXdbkFZsfDR7utJvbWElyA    40
                          ..
lf2TBQlGBXQIuWkWproutg     1
qIcN5FgluRcxLhVlHclMnA     1
83NUpz0xY7GKcRn5nC4LlQ     1
ld6YXH37CZGrS2N63M8wuA     1
VQYIXe6izm67WSlaV8wWmA     1
Name: User_id, Length: 101833, dtype: int64

In [36]:
yelp['State'].unique()

array(['IN', 'FL', 'NV', 'PA', 'MO', 'TN', 'LA', 'AZ', 'IL', 'CA', 'NJ',
       'DE', 'ID'], dtype=object)

In [37]:
# Realiza el merge basado en la columna 'Estado'
merged_df = pd.merge(estados, yelp, on='State', how='inner')

In [38]:
merged_df

,NombreEstado,State,Business_id,Name,Categories,Stars,Text,Useful,Funny,Cool,Date,User_id,City,Latitude,Longitude,Address,sentimiento
0,Arizona,AZ,v5T1Q21TT1_S_aY_G8Mf-g,Mr. Baja Fish,"Seafood, Restaurants, Mexican",3,This place lacks consistency. Sometimes the fo...,0,0,0,2019-09-21,AXpwQ2orCGqlPEcuzgL8xA,Tucson,32.287378,-110.965706,405 E Wetmore Rd,2
1,Arizona,AZ,v5T1Q21TT1_S_aY_G8Mf-g,Mr. Baja Fish,"Seafood, Restaurants, Mexican",5,I picked this place because the name reminds m...,0,0,1,2020-01-08,P9tQmRj5AuxkcM7cBOm5SQ,Tucson,32.287378,-110.965706,405 E Wetmore Rd,2
2,Arizona,AZ,v5T1Q21TT1_S_aY_G8Mf-g,Mr. Baja Fish,"Seafood, Restaurants, Mexican",5,I came here for lunch today and tried a variet...,1,0,0,2019-04-30,ig0NAzZ9J_6cF0gChtvJuA,Tucson,32.287378,-110.965706,405 E Wetmore Rd,2
3,Arizona,AZ,v5T1Q21TT1_S_aY_G8Mf-g,Mr. Baja Fish,"Seafood, Restaurants, Mexican",4,"This is one of those fast, casual gems, the ki...",3,1,2,2019-10-30,jL41h4Ez98PZfqiKzbbY1w,Tucson,32.287378,-110.965706,405 E Wetmore Rd,2
4,Arizona,AZ,v5T1Q21TT1_S_aY_G8Mf-g,Mr. Baja Fish,"Seafood, Restaurants, Mexican",5,These tacos are epic yummy and very scrumptiou...,0,0,0,2019-07-20,mrsB_UIl8-LV5RzrcrxUyw,Tucson,32.287378,-110.965706,405 E Wetmore Rd,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142517,Tennessee,TN,n6W7Dtz5Xz4glh2bkEFX1Q,San Luis Taqueria,"Restaurants, Mexican",1,Ordered 7 tacos got 5 and there's practically ...,0,0,0,2021-11-20,ITeztRQQR8wY4PPYMKUiBQ,Nashville,36.153582,-86.721293,"1501 Lebanon Pike, Ste 2",2
142518,Tennessee,TN,n6W7Dtz5Xz4glh2bkEFX1Q,San Luis Taqueria,"Restaurants, Mexican",2,I love the salsa. What is this???? I pay to ha...,0,0,0,2021-07-30,UFWbGgPaXVl2Hh1vmu5evQ,Nashville,36.153582,-86.721293,"1501 Lebanon Pike, Ste 2",0
142519,Tennessee,TN,n6W7Dtz5Xz4glh2bkEFX1Q,San Luis Taqueria,"Restaurants, Mexican",5,"During the recent snowstorm, they seem to be o...",0,0,0,2022-01-07,F0E-SuirDl-3D49hVdBiNA,Nashville,36.153582,-86.721293,"1501 Lebanon Pike, Ste 2",2
142520,Tennessee,TN,n6W7Dtz5Xz4glh2bkEFX1Q,San Luis Taqueria,"Restaurants, Mexican",5,It's just a little place connected to a Shell ...,0,0,1,2020-01-12,GQxh3okcBBIG4Mt5zpEiEw,Nashville,36.153582,-86.721293,"1501 Lebanon Pike, Ste 2",2
142521,Tennessee,TN,rgcbGLaBL3DPQLV-JFR2ww,Taqueria El Pollito,"Food Stands, Food, Food Trucks, Restaurants, M...",1,So this place has the best street tacos I've e...,1,0,0,2021-08-04,VQYIXe6izm67WSlaV8wWmA,Nashville,36.121217,-86.775505,800 Kirkwood Ave,2

In [39]:
yelp['Date'] = pd.to_datetime(yelp['Date'], format='%Y-%m-%d')

In [40]:
# Ordenar el DataFrame por la columna "Date"
merged_df = merged_df.sort_values(by='Date')

In [41]:
merged_df

,NombreEstado,State,Business_id,Name,Categories,Stars,Text,Useful,Funny,Cool,Date,User_id,City,Latitude,Longitude,Address,sentimiento
119225,Pensilvania,PA,baF2ZFEtsIo2A1k61x3QSw,Tio Flores,"Bars, Restaurants, Mexican, Food, Nightlife",2,This place seems to be starting 2019 off on th...,0,0,0,2019-01-01,UsrqK-dt6xn5QNVZRKZM0g,Philadelphia,39.944012,-75.168993,1600 South St,0
38118,Florida,FL,YgG-yAuu5sthGjl2WBa1NQ,Jimmy Hula's,"Mexican, Burgers, Beer, Wine & Spirits, Tacos,...",3,"Good food, somewhat pricey. The tacos (served ...",0,0,0,2019-01-01,-m1a4mvbGnozSpeuqY5yGA,Clearwater,27.980438,-82.827446,454 Mandalay Ave,2
92478,Missouri,MO,KkWQcqDPsZb6K5R5T-XJCg,Taco Bell,"Restaurants, Breakfast & Brunch, Mexican, Tex-...",1,Worst Taco Bell. They had no diablo sauce. The...,0,0,0,2019-01-01,ys1dRcu8PbjFm9lfg8PSSA,Saint Louis,38.593772,-90.243397,3501 S Grand Ave,0
141789,Tennessee,TN,KGYQFUSqOFMj1T65cBcGgA,Chuy's,"Restaurants, Nightlife, Mexican, Tex-Mex, Cock...",2,"I hate to post a bad review, but I must say th...",1,1,1,2019-01-01,av6ho6YCqY7G-M09qZ2P7w,Nashville,36.204265,-86.691607,163B Opry Mills Dr,0
30677,Florida,FL,wQNguYCgwWID6XOPEpYuvQ,GUAC Tequila & Tacos,"Tex-Mex, Mexican, Restaurants",2,We came here after the restaurant had been ope...,2,0,2,2019-01-01,z9h4AXLMP29mytkzDXIYOw,Tampa,27.927360,-82.512537,"4110 Henderson Blvd, Ste B",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71693,Indiana,IN,ZBfagfCUXYhe4q9sD7hpjQ,Social Cantina - Carmel,"Tacos, Mexican, Restaurants",4,"Good drinks, excellent guacamole and the servi...",1,0,1,2022-01-19,QBIcYXQpTVLMtYe3T4RJ_A,Carmel,39.975642,-86.130374,"350 Monon Blvd, Ste 10",2
52629,Florida,FL,QUshQjkKA_s0yTrxOGbRrQ,Chili's,"Restaurants, Tex-Mex, American (New), Nightlif...",1,"Horrible service, food is never right or serve...",0,0,0,2022-01-19,9SM2ggkthp950KA1dK1SFA,Brandon,27.936843,-82.316310,1949 W Brandon Blvd,0
76427,Indiana,IN,QbLvrNsUmD_62d9pIxwlSA,Jack in the Box,"Restaurants, Mexican, Tacos, Breakfast & Brunc...",3,Did not know what to expect when I went in but...,0,0,0,2022-01-19,T72gf_nE-qMqZFVqVrXrQA,Indianapolis,39.797549,-86.010136,2130 N Post Rd,2
132376,Tennessee,TN,U7esGceQIZ_1IG6Ib0c1lQ,Chipotle Mexican Grill,"Fast Food, Mexican, Tex-Mex, Restaurants",5,My colleague ordered on my behalf and she came...,0,0,0,2022-01-19,m0-9woIKbK-R4F8RVEe4BQ,Nashville,36.144142,-86.813277,2825 W End Ave,2
99495,Nevada,NV,JLV6DlY2_86blXAgQ8LG9w,Anna's Mexican Grill,"Mexican, Restaurants",5,Anna and her staff work hard to make the exper...,0,0,0,2022-01-19,xcBny4yrG5F4CmfU1TBgiQ,Reno,39.514654,-119.859423,"9570 S McCarran Blvd, Ste 113",2

In [42]:

# Crear la nueva columna 'Valoracion del Usuario' basada en la columna 'sentimiento'
merged_df['Valoracion del Usuario'] = merged_df['sentimiento'].map({0: 'Malo', 1: 'Regular', 2: 'Muy bueno'})

In [43]:
merged_df

,NombreEstado,State,Business_id,Name,Categories,Stars,Text,Useful,Funny,Cool,Date,User_id,City,Latitude,Longitude,Address,sentimiento,Valoracion del Usuario
119225,Pensilvania,PA,baF2ZFEtsIo2A1k61x3QSw,Tio Flores,"Bars, Restaurants, Mexican, Food, Nightlife",2,This place seems to be starting 2019 off on th...,0,0,0,2019-01-01,UsrqK-dt6xn5QNVZRKZM0g,Philadelphia,39.944012,-75.168993,1600 South St,0,Malo
38118,Florida,FL,YgG-yAuu5sthGjl2WBa1NQ,Jimmy Hula's,"Mexican, Burgers, Beer, Wine & Spirits, Tacos,...",3,"Good food, somewhat pricey. The tacos (served ...",0,0,0,2019-01-01,-m1a4mvbGnozSpeuqY5yGA,Clearwater,27.980438,-82.827446,454 Mandalay Ave,2,Muy bueno
92478,Missouri,MO,KkWQcqDPsZb6K5R5T-XJCg,Taco Bell,"Restaurants, Breakfast & Brunch, Mexican, Tex-...",1,Worst Taco Bell. They had no diablo sauce. The...,0,0,0,2019-01-01,ys1dRcu8PbjFm9lfg8PSSA,Saint Louis,38.593772,-90.243397,3501 S Grand Ave,0,Malo
141789,Tennessee,TN,KGYQFUSqOFMj1T65cBcGgA,Chuy's,"Restaurants, Nightlife, Mexican, Tex-Mex, Cock...",2,"I hate to post a bad review, but I must say th...",1,1,1,2019-01-01,av6ho6YCqY7G-M09qZ2P7w,Nashville,36.204265,-86.691607,163B Opry Mills Dr,0,Malo
30677,Florida,FL,wQNguYCgwWID6XOPEpYuvQ,GUAC Tequila & Tacos,"Tex-Mex, Mexican, Restaurants",2,We came here after the restaurant had been ope...,2,0,2,2019-01-01,z9h4AXLMP29mytkzDXIYOw,Tampa,27.927360,-82.512537,"4110 Henderson Blvd, Ste B",2,Muy bueno
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71693,Indiana,IN,ZBfagfCUXYhe4q9sD7hpjQ,Social Cantina - Carmel,"Tacos, Mexican, Restaurants",4,"Good drinks, excellent guacamole and the servi...",1,0,1,2022-01-19,QBIcYXQpTVLMtYe3T4RJ_A,Carmel,39.975642,-86.130374,"350 Monon Blvd, Ste 10",2,Muy bueno
52629,Florida,FL,QUshQjkKA_s0yTrxOGbRrQ,Chili's,"Restaurants, Tex-Mex, American (New), Nightlif...",1,"Horrible service, food is never right or serve...",0,0,0,2022-01-19,9SM2ggkthp950KA1dK1SFA,Brandon,27.936843,-82.316310,1949 W Brandon Blvd,0,Malo
76427,Indiana,IN,QbLvrNsUmD_62d9pIxwlSA,Jack in the Box,"Restaurants, Mexican, Tacos, Breakfast & Brunc...",3,Did not know what to expect when I went in but...,0,0,0,2022-01-19,T72gf_nE-qMqZFVqVrXrQA,Indianapolis,39.797549,-86.010136,2130 N Post Rd,2,Muy bueno
132376,Tennessee,TN,U7esGceQIZ_1IG6Ib0c1lQ,Chipotle Mexican Grill,"Fast Food, Mexican, Tex-Mex, Restaurants",5,My colleague ordered on my behalf and she came...,0,0,0,2022-01-19,m0-9woIKbK-R4F8RVEe4BQ,Nashville,36.144142,-86.813277,2825 W End Ave,2,Muy bueno
99495,Nevada,NV,JLV6DlY2_86blXAgQ8LG9w,Anna's Mexican Grill,"Mexican, Restaurants",5,Anna and her staff work hard to make the exper...,0,0,0,2022-01-19,xcBny4yrG5F4CmfU1TBgiQ,Reno,39.514654,-119.859423,"9570 S McCarran Blvd, Ste 113",2,Muy bueno

In [44]:
del merged_df['Text']

In [45]:
# Escribo csv de yelp
merged_df.to_csv('yelp/PBI_yelp.csv', index=False)

In [46]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142522 entries, 0 to 142521
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Business_id  142522 non-null  object
 1   Name         142522 non-null  object
 2   Categories   142522 non-null  object
 3   Stars        142522 non-null  int32
 4   Text         142522 non-null  object
 5   Useful       142522 non-null  int64
 6   Funny        142522 non-null  int64
 7   Cool         142522 non-null  int64
 8   Date         142522 non-null  datetime64[ns]
 9   User_id      142522 non-null  object
 10  City         142522 non-null  object
 11  State        142522 non-null  object
 12  Latitude     142522 non-null  float64
 13  Longitude    142522 non-null  float64
 14  Address      142020 non-null  object
 15  sentimiento  142522 non-null  int64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(4), object(8)
memory usage: 16.9+ MB